---
import { BaseLayout } from "../../layouts";
import { Button, Services } from "../../components";
import { LT_SETTINGS } from "../../data-list";

const { BODY } = LT_SETTINGS;
---

<BaseLayout title="Servicios">
  <section class="section-services">
    <Services title={BODY.SERVICES?.title} list={BODY.SERVICES?.list} />
    <section class="quote-button">
      <a href="/contact">
        <Button type="tertiary">Cotiza tú Servicio</Button>
      </a>
    </section>
  </section>
</BaseLayout>

<style lang="scss">
  .section-services {
    width: 100%;
    padding: 12em 2em 2em 2em;
    @media (max-width: 576px) {
      padding: 3em 1.5em;
    }
  }

  .card-list {
    margin: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
    justify-content: center;
  }

  .quote-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em 0 2em;

    a {
      text-decoration: auto;
    }
  }
</style>
