---
import { BaseLayout } from "../layouts";
import { LT_SETTINGS } from "../data-list";
import { SectionWrapper, CarouselMain } from "../components";
import ApplySection from "../components/home/ApplySection.astro";
import Benefits from "../components/home/Benefits.astro";
import Requirements from "../components/home/Requirements.astro";
import ButtonApply from "../components/ui/ButtonApply.astro";

const { BODY } = LT_SETTINGS;
---

<BaseLayout>
  <main>
    <div class="banner-wrapper" id="/">
      {
        BODY.PRINCIPAL_SECTION.type === "banner"
          ? BODY.PRINCIPAL_SECTION?.banner && (
              <img
                src={BODY.PRINCIPAL_SECTION.banner.bannerImgUrl}
                alt={BODY.PRINCIPAL_SECTION.banner.bannerImgAlt}
                width="500"
                height="300"
              />
            )
          : BODY.PRINCIPAL_SECTION?.carousel && (
              <CarouselMain images={BODY.PRINCIPAL_SECTION?.carousel.images} />
            )
      }
      <div class="text">
        <h1>SERVICIO DE RECLUTAMIENTO MILITAR</h1>
        <p>
          Únete al servicio militar y fortalece el futuro del Perú. Sirve a tu
          país, marca la diferencia.
        </p>
        <ButtonApply />
      </div>
      <div class="banner-bg"></div>
    </div>

    <div class="components-section">
      <SectionWrapper>
        <Benefits />
      </SectionWrapper>

      <SectionWrapper>
        <Requirements />
      </SectionWrapper>

      <SectionWrapper>
        <ApplySection />
      </SectionWrapper>
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  //MOBILE AND TABLET
  main {
    width: 100%;

    .banner-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        z-index: 100;
      }

      .text {
        font-size: 1.1em;
        text-align: center;
        position: absolute;
        color: white;
        z-index: 700;
        display: grid;
        place-items: center;
        width: 90%;
        gap: 1em;

        h1 {
          font-size: 1.5em;
        }

        p {
          font-weight: 500;
        }
      }
    }
    .components-section {
      width: 100%;
    }
  }

  //DESKTOP
  @media (min-width: 920px) {
    main {
      width: 100%;
      display: flex;
      flex-direction: column;

      .banner-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;

        img {
          width: 100%;
          height: 90vh;
          object-fit: cover;
        }

        .text {
          font-size: 1.8em;
          position: absolute;
          color: white;
          z-index: 700;
          display: grid;
          place-items: start;
          flex-wrap: wrap;
          width: 75%;
          gap: 2em;
          margin: 2em;
          padding-top: 4em;

          h1 {
            text-align: start;
          }

          p {
            font-weight: 500;
            text-align: start;
          }
        }

        .banner-bg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.640494) 0%,
              black 0%,
              rgba(255, 255, 255, 0) 57%
            ),
            linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.640494) 0%,
              black 0%,
              rgba(255, 255, 255, 0) 42%
            );
          z-index: 500;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
</style>
