---
import { LT_BODY } from "../../data-list/LT_BODY";
const { POSTULATION } = LT_BODY;
---

<section class="apply">
  <button class="apply__button" id="apply-button">
    <span class="text-button">{POSTULATION.title}</span>
  </button>
</section>

<script>
  const applyButtonElement = document.querySelector("#apply-button");

  const applyMilitaryService = () => {
    window.open("https://korekenke.mil.pe/military-service-recruitment/new");
  };

  applyButtonElement.addEventListener("click", applyMilitaryService);
</script>

<style>
  .apply {
    button {
      padding: 2em;
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 800;
      background: green;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
  }
</style>
