---
import ButtonApply from "../ui/ButtonApply.astro";
---

<section class="apply-button-section">
  <ButtonApply btnId="apply-button-apply-section" />
</section>

<style lang="scss">
  .apply-button-section {
    display: flex;
    justify-content: center;
    padding: 4em 0;
  }
</style>
