---
import { LT_BODY } from "../../data-list/LT_BODY";
const {POSTULATION} = LT_BODY;
---
<section class="apply">
<div class="apply__text">
  <button>{POSTULATION.title}</button>
</div>
  <div class="apply__button"></div>
</section>

<style>

</style>