---
import { LT_BODY } from "../../data-list/LT_BODY";
import ButtonApply from "../ui/ButtonApply.astro";
const { POSTULATION } = LT_BODY;
---

<section class="apply">
  <ButtonApply />
</section>

<style lang="scss">
  .apply {
    display: flex;
    justify-content: center;
    padding: 4em 0;
  }
</style>
