---
import { IconItem } from "../components";
import { LT_SETTINGS } from "../data-list";

const { FOOTER, PROJECT } = LT_SETTINGS;
---

<footer class="footer">
  <img src={PROJECT.logo} alt="logo" width="90" height="90" />

  <span class="slogan-description">
    {PROJECT.slogan}
  </span>

  <div class="footer__bottom">
    <p>
      Copyrights © 2024 Servicio de Reclutamiento Militar | Todos los derechos
      reservados - Desarrollado por AGENCIA SERVITEC
    </p>
  </div>
</footer>

<style lang="scss">
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    background: #2b2b2b;

    img {
      width: 8em;
      height: auto;
      margin: 1.2em auto;
    }

    .slogan-description {
      text-align: center;
      color: #ffffff8c;
      padding: 1em;
      font-weight: 600;
    }

    .icons-list {
      padding: 2em 1.5em;
      gap: 1em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12em, auto));
      width: 100%;
    }

    &__bottom {
      display: flex;
      justify-content: center;
      background: #000;
      width: 100%;
      padding: 1em;
      color: white;

      p {
        text-align: center;
        font-size: 0.9em;
      }
    }
  }

  @media (min-width: 500px) {
    footer {
      .slogan-description {
        max-width: 50%;
      }
    }
  }
</style>
