---
import { LT_BODY } from "../../data-list/LT_BODY";
const { POSTULATION } = LT_BODY;
---

<span class="apply">
  <button class="text-button">{POSTULATION.title}</button>
</span>

<script>
  const btnApply = document.querySelectorAll(".apply");

  btnApply.forEach((btn) =>
    btn.addEventListener("click", () => {
      window.open(
        "https://korekenke.mil.pe/military-service-recruitment/new",
        "_blank",
      );
    }),
  );
</script>

<style lang="scss">
  .apply {
    display: flex;
    justify-content: center;
    button {
      padding: 2em;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 800;
      background: green;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
  }
  @media (min-width: 920px) {
    .apply {
      button {
        font-size: 1.2rem;
      }
    }
  }
</style>
